* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /* Makes text look cleaner */
    background-color: #f4f4f4; /* Light gray background */
    color: #333; /* Dark gray text */
    text-align: center; /* Centers all text */
}

h1 {
    color: #0077cc; /* Blue header */
}

a {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.highlight:hover {
  background-color: rgb(36, 36, 36);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
